<!-- ################## satisfaccion  -->
<section id="satisfaccion" class="satisfaction-leads full-lg-screen container no-debug">
	<article class="Graphics no-debug-2">
		<aside class="header no-debug">
			<h2>Nuestro mejor cliente</h2>
			<h3>en un periodo de 2 años trabajando con Captions Connection</h3>
		</aside>
		<aside class="body">
			<ul class="Timeline no-debug">
				<li class="year no-debug-2">
					<input class="radio" id="year2018" name="works" type="radio" checked />
					<div class="relative">
						<label for="year2018">
							<span class="xs-initial md-none">1er Año</span>
							<span class="xs-none md-initial">Crecimiento lento sin subtítulos</span>
						</label>

						<span class="date no-debug">cuatrimestres del <span class="c-2018">2018</span></span>
						<span class="circle"></span>
					</div>
					<div class="content">
						<div class="traslucido ProgressBar">
							<div class="progress-box bg-light">
								<div class="progress-bar progress-bar-2018" style="--progressbar-value: 30%">30K</div>
							</div>
							<div class="progress-box bg-light">
								<div class="progress-bar progress-bar-2018" style="--progressbar-value: 31%">31K</div>
							</div>
							<div class="progress-box bg-light">
								<div class="progress-bar progress-bar-2018" style="--progressbar-value: 33%">33K</div>
							</div>
						</div>
					</div>
				</li>
				<li class="year">
					<input class="radio" id="year2019" name="works" type="radio" />
					<div class="relative">
						<label for="year2019">
							<span class="xs-initial md-none">2ª Año</span>
							<span class="xs-none md-initial">Crecimiento moderado. subtítulos-CC, un idioma.</span>
						</label>
						<span class="date">cuatrimestres del <span class="c-2019">2019</span></span>
						<span class="circle"></span>
					</div>

					<div class="content">
						<div class="traslucido ProgressBar">
							<div class="progress-box bg-light">
								<div class="progress-bar progress-bar-2019" style="--progressbar-value: 33%">33.5K</div>
							</div>
							<div class="progress-box bg-light">
								<div class="progress-bar progress-bar-2019" style="--progressbar-value: 43%">43K</div>
							</div>
							<div class="progress-box bg-light">
								<div class="progress-bar progress-bar-2019" style="--progressbar-value: 61%">61K</div>
							</div>
						</div>
					</div>
				</li>
				<li class="year">
					<input class="radio" id="year2020" name="works" type="radio" />
					<div class="relative">
						<label for="year2020">
							<span class="xs-initial md-none">3er Año</span>
							<span class="xs-none md-initial">Crecimiento exponencial. subtítulos-CC, 2 idiomas.</span>
						</label>

						<span class="date"> cuatrimestres del <span class="c-2020">2020</span> </span>
						<span class="circle"></span>
					</div>

					<div class="content">
						<div class="traslucido ProgressBar">
							<div class="progress-box bg-light">
								<div class="progress-bar progress-bar-2020" style="--progressbar-value: 66%">66k</div>
							</div>
							<div class="progress-box bg-light">
								<div class="progress-bar progress-bar-2020" style="--progressbar-value: 80%">80K</div>
							</div>
							<div class="progress-box bg-light">
								<div class="progress-bar progress-bar-2020" style="--progressbar-value: 99%">99K</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</aside>
		<aside class="footer">
			<div class="legends">
				<p class="g-3"><span class="c-2018">2018</span> cuando no tenía subtítulos.</p>
				<p class="g-3">
					<span class="c-2019"> 2019</span> cuando puso subtítulos en el mismo idioma de su canal.
					<span class="lg-sp">Castellano</span>
				</p>
				<p class="g-4">
					<span class="c-2020"> 2020</span> Subtítulos con dos idiomas: <span class="lg-sp">Castellano</span>
					<span class="lg-en">English</span>
				</p>
			</div>
		</aside>
	</article>
	<article class="slogan curved-shadow no-debug">
		<h2 class="inset-text no-debug">"El éxito depende de, a cuantas personas ayudas a tener éxito"</h2>
		<a href="#modal" class="btn btn-primary">
			<span class="btn-icon">
				<svg
					version="1.0"
					xmlns="http://www.w3.org/2000/svg"
					width="40px"
					height="40px"
					viewBox="0 0 240.000000 240.000000"
					preserveAspectRatio="xMidYMid meet"
				>
					<g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" stroke="none">
						<path
							d="M1466 1624 c-308 -316 -562 -574 -566 -574 -4 0 -123 110 -266 245
										-142 135 -261 245 -264 245 -3 0 -87 -82 -188 -183 l-183 -183 445 -432 c245
										-238 449 -432 454 -432 5 0 245 240 533 533 288 292 623 633 746 757 l223 225
										-188 187 -187 186 -559 -574z"
						/>
					</g>
				</svg>
			</span>
			<span class="btn-text no-debug">¡Me interesa!</span>
		</a>
	</article>
	<article class="leads-rating no-debug">
		<aside class="RatingStars no-debug-2">
			<h2 class="title no-debug">Calificación media de nuestros clientes</h2>
			<div class="wrapper no-debug-2">
				<span class="star-full no-debug"></span>
				<span class="star-full"></span>
				<span class="star-full"></span>
				<span class="star-full"></span>
				<span class="star-half"></span>
			</div>
		</aside>
	</article>
</section>
<!-- ################## /satisfaccion  -->
