@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i');

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap'); */
/* #####################################################################################
   # Custom Properties 																   #
   ##################################################################################### */
:root {
	/* branding colors */
	--blue-main: #032f62;
	--blue-bg-i-top: #122c4f;
	--blue-bg-i-down: #1f395b;
	--blue-dark: #0366d6;
	--blue-middle: #0d95c4;
	--blue-light: #3faaf3;
	/* icons-buttons-rrss colors */
	--orange-button: #ff6347;
	--pink-rrss: #ff1493;
	--pink-alpha-rrss: #d0bcf6;
	--violet-rrss: #663399;
	/* background colors */
	--black-bg: #0f0f0f;
	--grey-dark-bg: #3a3a3a;
	--grey-light-bg: #888888;
	--auberginius-bg: #2b2b38;
	--bg-blue-violet: #3b3399;
	--bg-graphics: var(--blue-light);
	--bg-slogan: #0d85c4;
	--bg-graphics-aux: rgba(29, 30, 34, 0.3);
	/* primary text colors */
	--text-color: #140707;
	--grey-text: #717171;
	--cream-text: #eeeeee;
	--white-text: #ffffff;
	/* effect text colors */
	--yellow-icon: #e8b20f;
	--grey-icon: var(--grey-dark-bg);
	--grey-alpha-icon: rgba(113, 113, 113, 0.35);
	--fx-text-green: #85e89d;
	--fx-text-red: #e54a54;
	--fx-text-violet: #b392f0;
	--fx-text-yellow: #ffd33d;
	--red-trash: #ff041e;

	--first-color: var(--blue-main);
	--second-color: var(--cream-text);
	--third-color: var(--pink-rrss);
	--btn-primary-color: var(--blue-dark);
	--btn-second-color: var(--cream-text);
	--btn-warning-color: var(--orange-button);
	/* shadows, corners */
	--shadow-button: 0.5rem 0.5rem 1.25rem rgba(0, 0, 0, 0.4);
	--shadow-button-hover: 0.8rem 0.8rem 1.5rem rgba(15, 15, 15, 0.4);
	--shadow-title: 1rem 1rem 1.75rem rgba(0, 0, 0, 0.8);
	--shadow-box-inset: 1rem 1rem 1.75rem rgba(0, 0, 0, 0.8) inset;
	--border-title: 3px solid white;
	--border-radius-small: 4px;
	--border-radius-medium: 12px;
	--border-radius-bigger: 3rem;
	--corner-large: 2.5rem;
	--corner-normal: 0.5rem;
	--corner-small: 0.25rem;
	/* tipografías */
	--font-normal: 'Rubik', sans-serif;
	--font-subtitle: 'Montserrat', sans-serif;
	--font-title: 'Montserrat', sans-serif;
	--font-icon: 'fontawesome free';
	/* widths and heights, and positions */
	--min-width: 320px;
	--max-width: 1280px;
	--z-top: 99;
	--z-middle: 9;
	--z-normal: 0;
	--z-down: -99;
	--height-menu: 3rem;
	--height-lg-menu: 4rem;
	/* carousel */
	--numSlides: 6;
	--widthScreen-lg: 1275px;
	--widthSlides-lg: calc(var(--widthScreen-lg) * var(--numSlides)); /* 1275px * 6 */
	--widthScreen-md: 760px;
	--widthSlides-md: calc(var(--widthScreen-md) * var(--numSlides)); /* 768px * 6 */
	--widthScreen-xs: 320px;
	--widthSlides-xs: calc(var(--widthScreen-xs) * var(--numSlides)); /* 320px * 6 */
	--height-lg-subtitles: 48vh;
	--height-mdp-subtitles: 23vh;
	--height-mdl-subtitles: 52vh;
	--height-xs-subtitles: 25vh;
	/* progress-bar */
	--progressbar-value: 50%;
	--pb-color-2018: #5747d1;
	--pb-color-2019: #8453df;
	--pb-color-2020: #e24aed;
}

/* #####################################################################################
   # reset           																   #
   ##################################################################################### */
html {
	box-sizing: border-box;
	font-family: var(--font-normal);
	font-size: 16px;
	scroll-behavior: smooth;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}
body {
	min-width: var(--min-width);
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--text-color, black);
}
/* /Montserrat-h1 */
h1 {
	font-weight: bold;
	font-size: 2rem;
	/* line-height: 2.44rem; */
}
h2 {
	/* /Montserrat-h2 */
	font-weight: 900;
	font-size: 1.5rem;
	/* line-height: 1.8rem; */
}
h3 {
	/* /Rubik-h3 */
	font-weight: normal;
	font-size: 1.25rem;
	/* line-height: 1.20rem; */
}
h4 {
	/* /Rubik-h4 */
	font-weight: normal;
	font-size: 1rem;
	/* line-height: 1.20rem; */
}
h5 {
	/* /Rubik-h4 */
	font-weight: normal;
	font-size: 0.85rem;
	/* line-height: 1.10rem; */
}
h6 {
	/* /Rubik-h4 */
	font-weight: normal;
	font-size: 0.75rem;
	/* line-height: 1rem; */
}
h1,
h2 {
	margin: 0;
	font-family: 'Montserrat';
	font-style: bold;
	color: var(--text-color, black);
}
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Rubik';
	font-style: normal;
	color: inherit;
}
p {
	margin: 0;
	font-family: 'Rubik';
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.6;
	font-style: normal;
	color: inherit;
}
/* #####################################################################################
   # Components		 																   #
   ##################################################################################### */
/*  ############### Card (article) */

/*  ############### Graphics (article) */
/*  ############### Graphics header (aside) */
/*  ############### Graphics body (aside) */
/*  ############### Graphics footer (aside) */
/*  ############### Graphics footer legends (div)*/

/*  ############### Menu (article) */

/*  ############### ProgressBar (div) */

/*  ############### Timeline (ul)*/
/*  ############### Timeline-year (li)*/
/*  ############### Timeline-year-info  (li>div)*/
/*  ############### Timeline-year-content (li>div) */

/* ##### COMPONENTS- A ##### */
/* ##### COMPONENTS- B ##### */
/* ##### COMPONENTS- C ##### */
/* ##### COMPONENTS- D ##### */
/* ##### COMPONENTS- E ##### */
/* ##### COMPONENTS- F ##### */
/* ##### COMPONENTS- G ##### */
/* -------------------
 * component: Graphics
 * ------------------- */
.Graphics {
	display: flex;
	flex-direction: column;
	background-image: -webkit-linear-gradient(142deg, rgba(138, 43, 226, 0.4) 1%, #79b8ff 15%, var(--bg-slogan) 75%);
	background-image: -moz-linear-gradient(142deg, rgba(138, 43, 226, 0.4) 1%, #79b8ff 15%, var(--bg-slogan) 75%);
	background-image: -ms-linear-gradient(142deg, rgba(138, 43, 226, 0.4) 1%, #79b8ff 15%, var(--bg-slogan) 75%);
	background-image: -o-linear-gradient(142deg, rgba(138, 43, 226, 0.4) 1%, #79b8ff 15%, var(--bg-slogan) 75%);
	background-image: linear-gradient(142deg, rgba(138, 43, 226, 0.4) 1%, #79b8ff 15%, var(--bg-slogan) 75%);
	clip-path: polygon(49% 5%, 93% 1%, 100% 11%, 100% 100%, 79% 98%, 50% 100%, 21% 98%, 0 100%, 0 13%, 12% 2%);
}
.Graphics .header {
	margin-top: 2rem;
	padding: 2rem 0 0 0;
	color: var(--cream-text);
}
.Graphics .header h2 {
	text-transform: uppercase;
	color: var(--cream-text);
	margin-bottom: 0.5rem;
}
.Graphics .header h3 {
	text-transform: uppercase;
	color: var(--bg-blue-violet);
}
.Graphics .body {
	margin-bottom: 1rem;
}
/* --------------------------------
COMPONENTS: Graphics footer legends
----------------------------------- */
.Graphics .legends {
	border: 4px solid white;
	border-radius: 10px;
	padding: 1rem;
	background-color: var(--bg-graphics-aux);
}
.Graphics .legends span.c-2018,
.Graphics .legends span.c-2019,
.Graphics .legends span.c-2020 {
	margin: 0 3rem;
}
.Graphics .legends p {
	font-weight: bold;
	color: var(--cream-text);
}
.Graphics .legends span.lg-sp {
	color: var(--yellow-icon);
}
.Graphics .legends span.lg-en {
	color: tomato;
}
.Graphics .legends .g-3 {
	display: grid;
	grid-template-columns: 15% 65% 10%;
}
.Graphics .legends .g-4 {
	display: grid;
	grid-template-columns: 15% 65% 10% 10%;
}
@media screen and (min-width: 1024px) {
	.Graphics .header {
		margin-top: 1rem;
	}
	.Graphics .header h2 {
		margin-bottom: 0.3rem;
	}
	.Graphics .body {
		margin-bottom: 0rem;
	}
	/* --------------------------------
	   COMPONENTS: Graphics footer legends
	----------------------------------- */
	.Graphics .legends span.c-2018,
	.Graphics .legends span.c-2019,
	.Graphics .legends span.c-2020 {
		margin: 0 1rem;
	}
}
/* ##### COMPONENTS- H ##### */
/* ##### COMPONENTS- I ##### */
/* ##### COMPONENTS- J ##### */
/* ##### COMPONENTS- K ##### */
/* ##### COMPONENTS- L ##### */
/* ##### COMPONENTS- M ##### */
/* ##### COMPONENTS- N ##### */
/* ##### COMPONENTS- O ##### */
/* ##### COMPONENTS- P ##### */
/* ------------------------
    COMPONENTS: ProgressBar
   ------------------------ */
.ProgressBar {
	padding: 0;
	margin: 0 1rem;
}
/* progress-box */
.progress-box {
	display: inline-block;
	width: 1rem;
	height: 360px;
	background-color: var(--grey-light-bg);
	margin: 0.5rem;

	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
}
.progress-box-nobg {
	background-color: transparent !important;
	border: transparent !important;
}
.bg-light {
	background-color: rgba(29, 30, 34, 0.1) !important;
}

.progress-bar {
	width: 100%;
	max-width: 1rem;
	background-color: var(--fx-text-green);
	height: var(--progressbar-value);
	vertical-align: center;
	color: var(--grey-dark-bg);
	font-size: 1rem;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
}

@media screen and (min-width: 768px) {
	.progress-box {
		width: 100%;
		height: 1rem;
		margin: 0.1rem;
	}
	.progress-bar {
		height: 100%;
		max-height: 1rem;
		background-color: var(--fx-text-green);
		width: var(--progressbar-value) !important;
		max-width: var(--progressbar-value);
		text-align: center;
		color: var(--grey-dark-bg);
		font-weight: bold;
	}
}
/* ##### COMPONENTS- Q ##### */
/* ##### COMPONENTS- R ##### */
/* ----------------------------
 * component: RatingStars
 * ---------------------------- */
.RatingStars {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}
.RatingStars .wrapper {
	font-size: 0;
	display: inline-block;
}
.RatingStars .wrapper span {
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 3rem;
	line-height: 3rem;
	/* color: #888; */
	/* content: '\2605'; */
}

.RatingStars .star-full:before {
	content: '\2605';
	color: var(--yellow-icon);
}
.RatingStars .star-void:before {
	content: '\2605';
	color: #888;
}
.RatingStars .star-half:before {
	content: '\2605' !important;
	/* gradiente fifty-fifty */
	background: -webkit-linear-gradient(90deg, var(--yellow-icon) 50%, var(--grey-light-bg) 50%);
	background: -moz-linear-gradient(90deg, var(--yellow-icon) 50%, var(--grey-light-bg) 50%);
	background: -ms-linear-gradient(90deg, var(--yellow-icon) 50%, var(--grey-light-bg) 50%);
	background: -o-linear-gradient(90deg, var(--yellow-icon) 50%, var(--grey-light-bg) 50%);
	background: linear-gradient(90deg, var(--yellow-icon) 50%, var(--grey-light-bg) 50%);
	/*recortando el texto */
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	-o-background-clip: text;
	background-clip: text;
	/* transparencia del texto */
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-ms-text-fill-color: transparent;
	-o-text-fill-color: transparent;
	text-fill-color: transparent;
}
/* ##### COMPONENTS- S ##### */
/* ##### COMPONENTS- T ##### */
/* ----------------------------
 * component: Timeline (ul)
 * ---------------------------- */
ul.Timeline {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	margin: 30px 0;
	border-bottom: 8px solid #eee9dc;
}
/* ------------------
 * component timeline-year (li)
 * ------------------ */
ul.Timeline li.year {
	display: flex;
	flex-direction: row;

	height: 460px;
	margin-bottom: 5rem;
	position: relative;
}
/* -----------------------
 * component Timeline year
 * ----------------------- */
ul.Timeline li.year .date {
	top: 100%;
	/* left: 30px; */
	font-size: 0.95em;
	line-height: 20px;
	position: absolute;
	background-color: var(--bg-graphics-aux);
	padding: 1.3rem;
	color: var(--cream-text);
	font-weight: bold;
}
ul.Timeline li.year .circle {
	bottom: -6rem;
	left: 50%;
	width: 20px;
	height: 20px;
	background: var(--blue-light);
	border: 5px solid #eee9dc;
	border-radius: 50%;
	display: block;
	position: absolute;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.Timeline li.year .content {
	min-height: 460px !important;
	padding: 50px 20px 10px;
	border-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-radius: 0.5em;
	position: relative;
}

.Timeline li.year .content:before,
.Timeline li.year .content:after {
	content: '';
	width: 0;
	height: 0;
	border: solid transparent;
	position: absolute;
	pointer-events: none;
	bottom: 100%;
}

.Timeline li.year .content .traslucido {
	opacity: 0.1;
}
.Timeline li.year label {
	font-size: 1.3em;
	color: var(--bg-blue-violet);
	position: absolute;
	z-index: 100;
	cursor: pointer;
	top: 20px;
	transition: transform 0.2s linear;
}
.Timeline .radio:not(:checked) + .relative label:hover {
	color: var(--cream-text);
}
.Timeline .radio {
	display: none;
}
.Timeline .radio:checked + .relative label {
	cursor: auto;
	transform: translateX(42px);
}
.Timeline .radio:checked + .relative .circle {
	background: #f98262;
	width: 30px;
	height: 30px;
}
.Timeline .radio:checked ~ .content {
	max-height: 180px;
	border-color: #eee9dc;
	margin-right: 20px;

	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	-ms-transform: translateX(20px);
	-o-transform: translateX(20px);
	transform: translateX(20px);

	-webkit-transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
	-moz-transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
	-ms-transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
	-o-transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
	transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.Timeline .radio:checked ~ .content .traslucido {
	max-height: 200px;
	opacity: 1;
	transition: opacity 0.3s linear 0.3s;
}
/* -----------------------
COMPONENTS: TIMELINE-label
-------------------------- */
.Timeline label {
	width: 85%;
	font-size: 1.1em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	transform: translateX(18px);
}

/* mediaquery ################################################## */

@media screen and (min-width: 768px) {
	ul.Timeline {
		flex-direction: column;
		margin: 30px 0 30px 280px;
		padding-left: 30px;
		border-left: 8px solid #eee9dc;
		border-bottom: 0px !important;
	}
	ul.Timeline li.year {
		flex-direction: column;
		height: auto;
		margin: 0rem 1rem 0 0;
		margin-top: -0.9rem;
		margin-bottom: 0rem;
	}
	ul.Timeline li.year .date {
		top: 0%;
		left: -300px;
	}
	ul.Timeline li.year .circle {
		margin-top: -15px;
		top: 50%;
		left: -44px;
	}
	.Timeline li.year .content {
		min-height: 100% !important;
	}

	.Timeline li.year .content:before,
	.Timeline li.year .content:after {
		content: '';
		width: 0;
		height: 0;
		border: solid transparent;
		position: absolute;
		pointer-events: none;
		bottom: 0;
		right: 100%;
	}
	.Timeline li.year .content:before {
		border-right-color: inherit;
		border-width: 20px;
		top: 50%;
		margin-top: -20px;
	}
	.Timeline li.year .content:after {
		border-right-color: #65aef4;
		border-width: 17px;
		top: 50%;
		margin-top: -17px;
	}
	/* tikis mikis */
	.Timeline li.year:first-child .content:after {
		border-right-color: #65aef4;
	}
	.Timeline li.year:nth-child(2) .content:after {
		border-right-color: #54a7eb;
	}
	.Timeline li.year:nth-child(3) .content:after {
		border-right-color: #45a0e3;
	}
	/* tikis mikis */
	.Timeline li.year label {
		font-size: 1.3em;
		color: var(--bg-blue-violet);
		position: absolute;
		z-index: 100;
		cursor: pointer;
		top: 20px;
		transition: transform 0.2s linear;
	}
	.Timeline .radio:not(:checked) + .relative label:hover {
		color: var(--cream-text);
	}
	.Timeline .radio {
		display: none;
	}
	.Timeline .radio:checked + .relative label {
		cursor: auto;
		transform: translateX(42px);
	}
	.Timeline .radio:checked + .relative .circle {
		background: #f98262;
		width: 30px;
		left: -49px;
		height: 30px;
	}
	.Timeline .radio:checked ~ .content {
		max-height: 180px;
		border-color: #eee9dc;
		margin-right: 20px;

		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px);

		-webkit-transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
		-moz-transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
		-ms-transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
		-o-transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
		transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
	}
	.Timeline .radio:checked ~ .content .traslucido {
		max-height: 200px;
		opacity: 1;
		transition: opacity 0.3s linear 0.3s;
	}

	.Timeline label {
		width: 85%;
		font-size: 1.1em;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
		transform: translateX(18px);
	}
}
/* ##### COMPONENTS- U ##### */
/* ##### COMPONENTS- V ##### */
/* ##### COMPONENTS- W ##### */
/* ##### COMPONENTS- X ##### */
/* ##### COMPONENTS- Y ##### */
/* ##### COMPONENTS- Z ##### */
/* ##################################### Utilities ########## */
/* ##### UTILITIES- A ##### */
.air {
	padding: 2rem 1rem;
}
.air-small {
	padding: 1rem 0.5rem;
}
/* ##### UTILITIES- B ##### */
.btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	box-shadow: var(--shadow-button);
	padding: 0.5rem;
	font-size: 1.8rem;
	font-weight: bold;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	border-radius: var(--corner-medium);
	-webkit-border-radius: var(--corner-normal);
	-moz-border-radius: var(--corner-normal);
	-ms-border-radius: var(--corner-normal);
	-o-border-radius: var(--corner-normal);
}
.btn.btn-primary {
	width: 90vw;
	max-width: 300px;
	background-color: var(--btn-primary-color);
	color: var(--second-color);
	border: 1px solid transparent;
}
.btn.btn-primary > .btn-icon > svg {
	fill: var(--second-color);
	width: 40px;
	height: 40px;
}
.btn.btn-primary:hover {
	box-shadow: var(--shadow-button-hover);
	background-color: var(--pink-rrss);
	border: 1px solid var(--black-bg);
}

@media screen and (min-width: 1024px) {
	.btn {
		padding: 1rem;
	}
	.btn > .btn-icon {
		margin-right: 1rem;
	}
	.btn.btn-primary {
		width: auto;
		max-width: 400px;
		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
	}
}
/* ##### UTILITIES- C ##### */
.container {
	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
}
.curved-shadow {
	position: relative !important;
	/* -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777; */
}
.curved-shadow:before,
.curved-shadow:after {
	z-index: -1;
	position: absolute;
	content: '';
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;

	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;

	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.curved-shadow:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

/* ##### UTILITIES- D ##### */
/* ##### UTILITIES- DEBUG ##### */
.debug {
	border: 1px solid red;
}
.debug-2 {
	border: 1px solid blueviolet;
}
/* ##### UTILITIES- E ##### */
/* ##### UTILITIES- F ##### */
/* ##### UTILITIES- G ##### */
/* ##### UTILITIES- H ##### */
/* ##### UTILITIES- I ##### */
.inset-text {
	color: rgba(0, 0, 0, 0.45) !important;
}
/* ##### UTILITIES- J ##### */
/* ##### UTILITIES- K ##### */
/* ##### UTILITIES- L ##### */
/* ##### UTILITIES- M ##### */
/* ##### UTILITIES- N ##### */
.none {
	display: none;
}
.display {
	display: initial;
}
@media screen and (min-width: 320px) {
	.xs-initial {
		display: initial;
	}
	.xs-none {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.md-initial {
		display: initial;
	}
	.md-none {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	.lg-initial {
		display: initial;
	}
	.lg-none {
		display: none !important;
	}
}
/* ##### UTILITIES- Ñ ##### */
/* ##### UTILITIES- O ##### */
/* ##### UTILITIES- P ##### */
/* ##### UTILITIES- Q ##### */
/* ##### UTILITIES- R ##### */
.rounded-small {
	border-radius: var(--border-radius-small);
	-webkit-border-radius: var(--border-radius-small);
	-moz-border-radius: var(--border-radius-small);
	-ms-border-radius: var(--border-radius-small);
	-o-border-radius: var(--border-radius-small);
}
/* ##### UTILITIES- S ##### */
.shadow-button {
	box-shadow: var(--shadow-button);
}

/* -----------------
  UTILITIES: slogan
--------------------- */
.slogan {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
.slogan h2 {
	color: var(--cream-text);
	margin-bottom: 1rem;
	font-style: italic;
	text-align: center;
}
/* ##### UTILITIES- T ##### */
/* ##### UTILITIES- TEXT ##### */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
/* ##### UTILITIES- U ##### */
/* ##### UTILITIES- V ##### */
/* ##### UTILITIES- W ##### */
/* ##### UTILITIES- X ##### */
/* ##### UTILITIES- Y ##### */
/* ##### UTILITIES- Z ##### */
/* ##### UTILITIES MEDIAQUERIES ##### */
@media screen and (min-width: 768px) {
	.text-md-left {
		text-align: left;
	}
	.text-md-center {
		text-align: center;
	}
	.text-md-right {
		text-align: right;
	}
}
@media screen and (min-width: 1024px) {
	.lg-no-air {
		padding: 0 0;
	}
	.full-lg-screen {
		width: 100%;
		min-height: 100vh;
	}
	.text-lg-left {
		text-align: left;
	}
	.text-lg-center {
		text-align: center;
	}
	.text-lg-right {
		text-align: right;
	}
}
/* ##################################### Site CC styles #################################################### */
/* ##### SITE STYLES- A ##### */
/* ##### SITE STYLES- B ##### */
/* ##### SITE STYLES- C ##### */
/* ##### SITE STYLES- D ##### */
/* ##### SITE STYLES- E ##### */
/* ##### SITE STYLES- F ##### */
/* ##### SITE STYLES- G ##### */
/* ##### SITE STYLES- H ##### */
/* ##### SITE STYLES- I ##### */
/* ##### SITE STYLES- J ##### */
/* ##### SITE STYLES- K ##### */
/* ##### SITE STYLES- L ##### */
/* ##### SITE STYLES- M ##### */
/* ##### SITE STYLES- N ##### */
/* ##### SITE STYLES- O ##### */
/* ##### SITE STYLES- P ##### */
/* ##### SITE STYLES- Q ##### */
/* ##### SITE STYLES- R ##### */
/* -----------------
  PAGE STYLES: progressbar (utilities)
--------------------- */
.progress-bar-2018 {
	background-color: var(--pb-color-2018);
	color: var(--cream-text);
}
.progress-bar-2019 {
	background-color: var(--pb-color-2019);
	color: var(--cream-text);
}
.progress-bar-2020 {
	background-color: var(--pb-color-2020);
	color: var(--cream-text);
}
.c-2018 {
	font-size: 1.3rem;
	margin-left: 0.3rem;
	color: var(--pb-color-2018);
}
.c-2019 {
	font-size: 1.3rem;
	margin-left: 0.3rem;
	color: var(--pb-color-2019);
}
.c-2020 {
	font-size: 1.3rem;
	margin-left: 0.3rem;
	color: var(--pb-color-2020);
}
/* ##### SITE STYLES- S ##### */
/* -----------------
  PAGE STYLES: satisfaction-leads (section page)
--------------------- */
.satisfaction-leads {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
}
/* -----------------
  PAGE STYLES: slogan (utilities)
--------------------- */
.satisfaction-leads .slogan {
	background: var(--bg-slogan);
	color: var(--cream-text);
}
/* ##### SITE STYLES- T ##### */
/* ##### SITE STYLES- U ##### */
/* ##### SITE STYLES- V ##### */
/* ##### SITE STYLES- W ##### */
/* ##### SITE STYLES- X ##### */
/* ##### SITE STYLES- Y ##### */
/* ##### SITE STYLES- Z ##### */
